body {
	margin: 0px;
	background-image: url("../img/1.jpg");
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	padding-bottom: 100px;
}
.carousel-inner img {
	width: 100%;
		height: 100%;
	}

a {
	color: black;
	padding: 10px;
	margin-left: 10px;
	text-decoration: none;
	background: #e2e92cff;
}
a:hover {
	background: #c1c72dff;
}
.content {
	margin-top: 20px;
	width: 100%;
}
.logo {
	width: 100%;
}
.main-block {
	width: 100%;
	background-color: yellow;
	margin-top: 10px;
}
.left-block {
	float: left;
	width: 30%;
}
.right-block {
	float: right;
	width: auto;
}
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.separator-footer{
	border-bottom: 5px solid yellow;
	margin: 0px;
}
.subtitle {
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
}
.carousel-control-prev {
	margin-left: 0px;
}
