.logo {
  width: 190px;
}

.auth-info {
	font-size: 14px;
}

#main-nav .nav-link {
  /*padding: 10px;*/
  border-bottom: 2px solid transparent;
}

#main-nav .dropdown-item {
  padding: 10px 20px;
}

#main-nav .nav-link:hover {
  border-bottom: 2px solid #ffc107;
}

#featured .carousel-inner img {
  width: 100%;
}
