@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
	margin: 0px;
	background-image: url("../img/bg.svg");
	background-color: #000;
	background-repeat: all;
	background-size: 100px;
	position: relative;
	min-height: 100vh;
	font-family: 'Oxygen', sans-serif;
}

#app {
	box-sizing: border-box;
	min-height: calc(100vh - 190px);
}

.carousel-inner img {
	width: 100%;
}

a {
	color: black;
	/*padding: 10px;
	margin-left: 10px;*/
	text-decoration: none;
	/*background: #e2e92cff;*/
}
a:hover {
	/*background: #c1c72dff;*/
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	margin: 20px 0px;
}

h3 {
	text-decoration: underline;
}

#main-nav .dropdown-item:active {
	background: #ffc107;
	color: #000;
}

.content {
	margin: auto;
	color: white;
	font-size: 15px;

}
.logo {
	width: 150px;
}

.main-block {
	width: 100%;
	background-color: yellow;
	margin-top: 10px;
}
.left-block {
	float: left;
	width: 30%;
}
.right-block {
	float: right;
	width: auto;
}

.quick-box {
	
}

.auth-info {
	font-size: 12px;
	width: 100%;
}

.footer {

}

.separator-footer{
	border-bottom: 5px solid #ffc107;
	margin: 0px;
}

.decoration{
	margin-top: 1.25rem;
	border-bottom: 5px solid #ffc107;
}

.subtitle {
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
}
.carousel-control-prev, .carousel-control-prev:hover{
	margin-left: 0px;
	background: transparent;
}

.carousel-control-next, .carousel-control-next:hover{
	background: transparent;
}
/*Menu*/

/*.card-menu {
	color: white;
	min-width: 21%;
	max-width: 21%;
	margin: 20px;
}

@media (max-width: 576px) {
	.card-menu {
		color: white;
		min-width: 100%;
		max-width: 100%;
		margin: 20px;
	}
}*/

.row, .card-deck {
	margin-bottom: 15px;
}

/*Login*/

.form-group {
	color: white;
}

.login-background {
	background-color: #000000aa;
	padding-bottom: 50px;
	color: white;
}

.modal-content {
	color: white;
}

/*Shopping Cart*/
.shopping-cart {
	font-size: 30px;
	color: white;
}

.content-shop {
	text-align: center;
	margin: auto;
}

.shopping-background {
	background-color: #000000aa;
	color: white;

}

.profile-content {
	color: white;
}

.real-footer {
	background-color: black;
	color: white;
}

.nav-menu {
	border-bottom: 5px solid #ffc107;
}

.nav-menu .nav-link {
	color: #fff;
	border-width: 1px 1px 0 1px;
}

.nav-menu .nav-link.active {
	background: #ffc107;
	border: none;
}

.nav-menu .nav-link:not(.active):hover {
	border-color: transparent;
	background-color: #343a40;
}

.shopping-item {
	padding: 20px;
}

.shopping-item:not(:last-child) {
	border-bottom: 1px solid #222;
}

.shopping-item .cart-img {
	width: 64px;
	height: 64px;
}

.subheader {
	border-bottom: 2px solid #ffc107;
}

.hot {
	margin-left: 0px;
	padding: 0px;
}

.card-menu .menu-image-sm {
	max-width: 128px;
}

#map {
	height: 250px;
}
